<div *ngIf="pokemonDetails">
    <div class="profoak-container">
        <img class="prof-oak" src="../../assets/imgs/professor_oak.gif" />
        <img class="pokemon-sprite" [src]="pokemonDetails.sprites.front_default">
    </div>
    <div>
        <p>{{ pokemonDetails.name | uppercaseFirst}}</p>
        <p>Type: <span>{{pokemonDetails.types[0].type.name}}</span><span *ngIf="pokemonDetails.types[1]"> / {{pokemonDetails.types[1].type.name}}</span>            </p>
        <p>Weight: <span>{{ pokemonDetails.weight }}</span> </p>
    </div>
</div>